state-machine.json
{
  "$id": "http://asl-validator.cloud/state-machine#",
  "$schema": "http://json-schema.org/draft-07/schema#",
  "definitions": {
    "State": {
      "type": "object",
      "oneOf": [
        {
          "$ref": "#/definitions/Choice"
        },
        {
          "$ref": "#/definitions/Fail"
        },
        {
          "$ref": "#/definitions/Parallel"
        },
        {
          "$ref": "#/definitions/Pass"
        },
        {
          "$ref": "#/definitions/Succeed"
        },
        {
          "$ref": "#/definitions/Task"
        },
        {
          "$ref": "#/definitions/Wait"
        }
      ]
    },
    "Fail": {
      "type": "object",
      "properties": {
        "Type": {
          "type": "string",
          "pattern": "^Fail$"
        },
        "Comment": {
          "type": "string"
        },
        "OutputPath": {
          "type": [
            "string",
            "null"
          ]
        },
        "InputPath": {
          "type": [
            "string",
            "null"
          ]
        },
        "Cause": {
          "type": "string"
        },
        "Error": {
          "type": "string"
        }
      },
      "required": [
        "Type"
      ],
      "additionalProperties": false
    },
    "Succeed": {
      "type": "object",
      "properties": {
        "Type": {
          "type": "string",
          "pattern": "^Succeed$"
        },
        "Comment": {
          "type": "string"
        }
      },
      "required": [
        "Type"
      ],
      "additionalProperties": false
    },
    "Pass": {
      "type": "object",
      "properties": {
        "Type": {
          "type": "string",
          "pattern": "^Pass$"
        },
        "Next": {
          "type": "string"
        },
        "End": {
          "enum": [
            true
          ]
        },
        "Comment": {
          "type": "string"
        },
        "OutputPath": {
          "type": [
            "string",
            "null"
          ]
        },
        "InputPath": {
          "type": [
            "string",
            "null"
          ]
        },
        "ResultPath": {
          "type": "string"
        },
        "Result": {}
      },
      "oneOf": [
        {
          "required": [
            "Next"
          ]
        },
        {
          "required": [
            "End"
          ]
        }
      ],
      "required": [
        "Type"
      ],
      "additionalProperties": false
    },
    "Wait": {
      "type": "object",
      "properties": {
        "Type": {
          "type": "string",
          "pattern": "^Wait$"
        },
        "Next": {
          "type": "string"
        },
        "End": {
          "enum": [
            true
          ]
        },
        "Comment": {
          "type": "string"
        },
        "OutputPath": {
          "type": [
            "string",
            "null"
          ]
        },
        "InputPath": {
          "type": [
            "string",
            "null"
          ]
        },
        "Seconds": {
          "type": "number",
          "minimum": 0
        },
        "Timestamp": {
          "type": "string"
        },
        "SecondsPath": {
          "type": [
            "string",
            "null"
          ]
        },
        "TimestampPath": {
          "type": [
            "string",
            "null"
          ]
        }
      },
      "oneOf": [
        {
          "required": [
            "Next"
          ]
        },
        {
          "required": [
            "End"
          ]
        }
      ],
      "required": [
        "Type"
      ],
      "additionalProperties": false
    },
    "Task": {
      "type": "object",
      "properties": {
        "Type": {
          "type": "string",
          "pattern": "^Task$"
        },
        "Next": {
          "type": "string"
        },
        "End": {
          "enum": [
            true
          ]
        },
        "Comment": {
          "type": "string"
        },
        "OutputPath": {
          "type": [
            "string",
            "null"
          ]
        },
        "InputPath": {
          "type": [
            "string",
            "null"
          ]
        },
        "Resource": {
          "type": "string",
          "pattern": "^arn:aws:([a-z]|-)+:([a-z]|[0-9]|-)*:[0-9]*:([a-z]|-)+:.+$"
        },
        "ResultPath": {
          "type": [
            "string",
            "null"
          ]
        },
        "Retry": {
          "type": "array",
          "items": {
            "types": "object",
            "properties": {
              "ErrorEquals": {
                "type": "array",
                "items": {
                  "types": "string"
                }
              },
              "IntervalSeconds": {
                "type": "number",
                "minimum": 0
              },
              "MaxAttempts": {
                "type": "number",
                "minimum": 0
              },
              "BackoffRate": {
                "type": "number",
                "minimum": 0
              }
            },
            "required": [
              "ErrorEquals"
            ]
          }
        },
        "Catch": {
          "type": "array",
          "items": {
            "types": "object",
            "properties": {
              "ErrorEquals": {
                "type": "array",
                "items": {
                  "types": "string"
                }
              },
              "Next": {
                "type": "string"
              }
            },
            "required": [
              "ErrorEquals",
              "Next"
            ]
          }
        },
        "TimeoutSeconds": {
          "type": "number",
          "minimum": 1
        },
        "HeartbeatSeconds": {
          "type": "number",
          "minimum": 1
        },
        "Parameters": {
          "type": "object"
        }
      },
      "oneOf": [
        {
          "required": [
            "Next"
          ]
        },
        {
          "required": [
            "End"
          ]
        }
      ],
      "required": [
        "Type",
        "Resource"
      ],
      "additionalProperties": false
    },
    "Parallel": {
      "type": "object",
      "properties": {
        "Type": {
          "type": "string",
          "pattern": "^Parallel$"
        },
        "Next": {
          "type": "string"
        },
        "End": {
          "enum": [
            true
          ]
        },
        "Comment": {
          "type": "string"
        },
        "OutputPath": {
          "type": [
            "string",
            "null"
          ]
        },
        "InputPath": {
          "type": [
            "string",
            "null"
          ]
        },
        "ResultPath": {
          "type": [
            "string",
            "null"
          ]
        },
        "Branches": {
          "type": "array",
          "items": {
            "types": {
              "$ref": "http://asl-validator.cloud/state-machine#"
            }
          }
        },
        "Retry": {
          "type": "array",
          "items": {
            "types": "object",
            "properties": {
              "ErrorEquals": {
                "type": "array",
                "items": {
                  "types": "string"
                }
              },
              "IntervalSeconds": {
                "type": "number",
                "minimum": 0
              },
              "MaxAttempts": {
                "type": "number",
                "minimum": 0
              },
              "BackoffRate": {
                "type": "number",
                "minimum": 0
              }
            },
            "required": [
              "ErrorEquals"
            ]
          }
        },
        "Catch": {
          "type": "array",
          "items": {
            "types": "object",
            "properties": {
              "ErrorEquals": {
                "type": "array",
                "items": {
                  "types": "string"
                }
              },
              "Next": {
                "type": "string"
              }
            },
            "required": [
              "ErrorEquals",
              "Next"
            ]
          }
        }
      },
      "oneOf": [
        {
          "required": [
            "Next"
          ]
        },
        {
          "required": [
            "End"
          ]
        }
      ],
      "required": [
        "Type",
        "Branches"
      ],
      "additionalProperties": false
    },
    "Choice": {
      "type": "object",
      "properties": {
        "Type": {
          "type": "string",
          "pattern": "^Choice$"
        },
        "Next": {
          "type": "string"
        },
        "End": {
          "enum": [
            true
          ]
        },
        "Comment": {
          "type": "string"
        },
        "OutputPath": {
          "type": [
            "string",
            "null"
          ]
        },
        "InputPath": {
          "type": [
            "string",
            "null"
          ]
        },
        "Choices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operator"
          }
        },
        "Default": {
          "type": "string"
        }
      },
      "required": [
        "Type",
        "Choices"
      ],
      "additionalProperties": false
    },
    "Operator": {
      "type": "object",
      "properties": {
        "Variable": {
          "type": "string"
        },
        "Next": {
          "type": "string"
        },
        "And": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operator"
          }
        },
        "Or": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operator"
          }
        },
        "Not": {
          "$ref": "#/definitions/Operator"
        },
        "BooleanEquals": {
          "type": "boolean"
        },
        "NumericEquals": {
          "type": "number"
        },
        "NumericGreaterThan": {
          "type": "number"
        },
        "NumericGreaterThanEquals": {
          "type": "number"
        },
        "NumericLessThan": {
          "type": "number"
        },
        "NumericLessThanEquals": {
          "type": "number"
        },
        "StringEquals": {
          "type": "string"
        },
        "StringGreaterThan": {
          "type": "string"
        },
        "StringGreaterThanEquals": {
          "type": "string"
        },
        "StringLessThan": {
          "type": "string"
        },
        "StringLessThanEquals": {
          "type": "string"
        },
        "TimestampEquals": {
          "type": "string"
        },
        "TimestampGreaterThan": {
          "type": "string"
        },
        "TimestampGreaterThanEquals": {
          "type": "string"
        },
        "TimestampLessThan": {
          "type": "string"
        },
        "TimestampLessThanEquals": {
          "type": "string"
        }
      },
      "oneOf": [
        {
          "required": [
            "And"
          ]
        },
        {
          "required": [
            "BooleanEquals"
          ]
        },
        {
          "required": [
            "Not"
          ]
        },
        {
          "required": [
            "NumericEquals"
          ]
        },
        {
          "required": [
            "NumericGreaterThan"
          ]
        },
        {
          "required": [
            "NumericGreaterThanEquals"
          ]
        },
        {
          "required": [
            "NumericLessThan"
          ]
        },
        {
          "required": [
            "NumericLessThanEquals"
          ]
        },
        {
          "required": [
            "Or"
          ]
        },
        {
          "required": [
            "StringEquals"
          ]
        },
        {
          "required": [
            "StringGreaterThan"
          ]
        },
        {
          "required": [
            "StringGreaterThanEquals"
          ]
        },
        {
          "required": [
            "StringLessThan"
          ]
        },
        {
          "required": [
            "StringLessThanEquals"
          ]
        },
        {
          "required": [
            "TimestampEquals"
          ]
        },
        {
          "required": [
            "TimestampGreaterThan"
          ]
        },
        {
          "required": [
            "TimestampGreaterThanEquals"
          ]
        },
        {
          "required": [
            "TimestampLessThan"
          ]
        },
        {
          "required": [
            "TimestampLessThanEquals"
          ]
        }
      ]
    }
  },
  "type": "object",
  "properties": {
    "Comment": {
      "type": "string"
    },
    "StartAt": {
      "type": "string"
    },
    "States": {
      "type": "object",
      "patternProperties": {
        "^.{1,128}$": {
          "$ref": "#/definitions/State"
        }
      },
      "additionalProperties": false
    },
    "Version": {
      "type": "string"
    },
    "TimeoutSeconds": {
      "type": "integer",
      "minimum": 0
    }
  },
  "additionalProperties": false,
  "required": [
    "StartAt",
    "States"
  ]
}